<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>logs/ethereum.log</file>

        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>DEBUG</level>
        </filter>

        <append>true</append>
        <encoder>
            <pattern>%date{HH:mm:ss.SSS} %-5level [%logger{35}] %msg%n</pattern>
        </encoder>

        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>logs/ethereum-%d{yyyy-MM-dd_HH}.%i.log</fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>100MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
    </appender>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">

        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>INFO</level>
        </filter>

        <encoder>
            <pattern>%date{HH:mm:ss.SSS} %-5level [%logger{35}] %msg%n</pattern>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="STDOUT"/>
    </root>

    <logger level="WARN" name="cache" />
    <logger level="WARN" name="listener"/>
    <logger level="WARN" name="general"/>
    <logger level="WARN" name="net"/>
    <logger level="WARN" name="ethereum-service"/>
    <logger level="ERROR" name="wire"/>
    <logger level="WARN" name="discover"/>
    <logger level="WARN" name="db"/>
    <logger level="ERROR" name="sync"/>
    <logger level="WARN" name="jsonrpc"/>
    <logger level="WARN" name="facade"/>
    <logger level="WARN" name="blockqueue"/>
    <logger level="WARN" name="repository"/>
    <logger level="WARN" name="blockchain"/>
    <logger level="WARN" name="mine"/>
    <logger level="WARN" name="discover"/>
    <logger level="ERROR" name="java.nio"/>
    <logger level="ERROR" name="io.netty"/>
    <logger level="ERROR" name="wire"/>
    <logger level="ERROR" name="VM"/>
    <logger level="ERROR" name="trie"/>
    <logger level="ERROR" name="state"/>
    <logger level="ERROR" name="execute"/>
    <logger level="ERROR" name="rlp"/>
    <logger level="WARN" name="processor">

    </logger>

</configuration>
